---
layout: layout-page.njk
title: Página de inicio
description: Meta descripción de la página de inicio
---

<h1>{{ title }}</h1>
<p>
  Ya solo es acomodar esta cosa para la pagina web <i>starter project</i> para el primer avance.
</p>
<div>
  <img src="/img/eleventy.svg" alt="Eleventy">
  <h2>+</h2>
  <img src="/img/github.svg" alt="GitHub">
</div>
<hr>
<h2>{{ site.message }}</h2>
<p>
  Para sacarle mayor provecho a este <i>starter project</i>, te sugiero revisar los siguientes enlaces:
</p>
<ul>
  {% for link in site.linksDoc %}
    <li>
      <a href="{{ link.url }}" target="_blank">{{ link.text | safe }}</a>
    </li>
  {% endfor %}
</ul>